<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CT25Team23Entities" connectionString="metadata=res://*/Models.DB_Model.csdl|res://*/Models.DB_Model.ssdl|res://*/Models.DB_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tuleap.vanlanguni.edu.vn,18082;initial catalog=CT25Team23;persist security info=True;user id=CT25Team23;password=CyberBoi_123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB_CT25Team23Entities" connectionString="metadata=res://*/Models.DB_JustBook_Model.csdl|res://*/Models.DB_JustBook_Model.ssdl|res://*/Models.DB_JustBook_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tuleap.vanlanguni.edu.vn,18082;initial catalog=CT25Team23;persist security info=True;user id=CT25Team23;password=CyberBoi_123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>